{{ form_start(form) }}

<!-- TITRE -->
<div>
    {{ form_label(form.title, "Titre") }}
    {{ form_row(form.title) }}
</div>

<!-- DATE -->
<div>
    {{ form_label(form.dateEvent, "Date") }}
    {{ form_row(form.dateEvent) }}
</div>

<!-- HEURE -->
<div>
    {{ form_label(form.timeEvent, "Heure") }}
    {{ form_row(form.timeEvent) }}
</div>

<!-- NB MAX JOUEURS -->
<div>
    {{ form_label(form.nbMaxPlayers, "Nombre maximum de participants") }}
    {{ form_row(form.nbMaxPlayers) }}
</div>

<!-- IMAGE -->
<div>
    {{ form_label(form.imageFile, "Image") }}
    {{ form_row(form.imageFile) }}
</div>

<!-- DESCRIPTION -->
<div>
    {{ form_label(form.description, "Description") }}
    {{ form_row(form.description) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
