{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block jquery %}
<script>
    $(document).ready(function () {
        $('.carousel.carousel-slider').carousel({
            indicators: false
        });
        autoplay();
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4000);
        }
    });
</script>
{% endblock %}

{% block body %}
<div id="page" class="container grey lighten-5">
    <div id="carousel-connection" class="row grey lighten-5">
        <!-- CAROUSEL -->
        <div class="col s12 m12 l6">
            <div class="carousel carousel-slider">
                <div class="carousel-item white-text">
                    <img src="{{ asset("/img/carousel1.jpg" )}}" alt="boardgame en flat design">
                </div>
                <div class="carousel-item white-text">
                    <img src="{{ asset("/img/carousel2.jpg" )}}" alt="photo dans un bar à jeux">
                </div>
                <div class="carousel-item white-text">
                    <img src="{{ asset("/img/carousel3.jpg" )}}" alt="amis heureux">
                </div>
                <div class="carousel-item white-text">
                    <img src="{{ asset("/img/carousel4.jpg" )}}" alt="pions colorés">
                </div>
            </div>
        </div>
        <!-- END CAROUSEL -->
        <!-- CONNECTION -->
        <div class="col s12 m12 l6">
            <form method="post">
                <h1 class="h3 mb-3">Connexion</h1>
                {% if error %}
                <div class="alert alert-danger red lighten-3 white-text text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="inputUsername">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                    required>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button id="connexion-button" href="{{ path('app_index') }}" class="btn btn-large btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
        <!-- END CONNECTION -->
    </div>

    <!-- INSCRIPTION -->
    <div id="inscription" class="card center teal darken-2 z-depth-4">
        <h3 class="grey-text text-lighten-2">Rejoins des évènements jeux <br>
            <br>
            et rencontre de nouveaux joueurs !
        </h3>
        <a href="{{ path('user_new') }}" id="inscription-button"
            class="btn btn-large teal lighten-5 grey-text text-darken-3 waves-effect waves-dark">
            INSCRIPTION
        </a>
    </div>

    <!-- BANNER -->
    <div id="resumeHome" class="row">
        <div class="card-panel card-resumeHome teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">event</i><br>
            <span class="teal-text flow-text card-title">
                Organise tes soirées jeux !
            </span>
        </div>
        <div class="card-panel card-resumeHome  teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">extension</i><br>
            <span class="teal-text flow-text card-title">
                Sélectionne tes jeux préférés !
            </span>
        </div>
        <div class="card-panel card-resumeHome teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">mood</i><br>
            <span class="teal-text flow-text card-title">
                Fais-toi plein de nouveaux amis !
            </span>
        </div>
    </div>
    <!-- END BANNER -->
</div>
{{ include('front/footer.html.twig') }}

{% endblock %}
{% block stylesheets %}
<style>
    #page{
        padding-bottom: 100px;
    }

    #connexion-button{
        margin-top: 40px;
    }
    .carousel-item img {
        height: 100%;
    }

    .alert{
        padding: 15px;
        border-radius: 10px;
        border: 1px solid rgb(212, 27, 27);
    }
    #inscription {
        padding: 20px 0;
        text-shadow: 0 0 0.5em rgb(48, 48, 48);
        margin: 100px 0;
    }

    #inscription-button {
        box-shadow: 0 0 0.5em rgb(48, 48, 48);
        padding: 0 50px;
        margin: 20px 0;
        text-shadow: none;
    }

    #inscription-button:hover {
        font-size: 1.1em;
    }

    .card-resumeHome {
        box-shadow: 0 0 0.5em rgb(109, 108, 108);
        border: 5px solid #009688;
        border-radius: 5px;
    }

    .card-resumeHome i {
        padding: 50px;
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .card-title{
        font-weight: bold;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.95);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @media screen and(max-width: 640px) {
        #resumeHome {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-resumeHome {
            width: 100%;
        }
    }

    @media screen and(max-width: 1240px) {
        #resumeHome {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-resumeHome {
            width: 100%;
        }
    }
</style>
{% endblock %}