{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block jquery %}
<script>
    $(document).ready(function () {
        $('.carousel.carousel-slider').carousel({
            indicators: false
        });
        autoplay();
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4000);
        }
    });
</script>
{% endblock %}

{% block body %}
<div class="container grey lighten-5">
    <div id="carousel-connection" class="row grey lighten-5">
        <!-- CAROUSEL -->
        <div class="col s12 m12 l6">
            <div class="carousel carousel-slider">
                <div class="carousel-item red lighten-2 white-text" href="#one">
                    <img src="{{ asset("/img/carousel1.jpg" )}}" alt="">
                </div>
                <div class="carousel-item red lighten-2 white-text" href="#two!">
                    <img src="{{ asset("/img/carousel2.jpg" )}}" alt="">
                </div>
                <div class="carousel-item red lighten-2 white-text" href="#three!">
                    <img src="{{ asset("/img/carousel3.jpg" )}}" alt="">
                </div>
                <div class="carousel-item red lighten-2 white-text" href="#four!">
                    <img src="{{ asset("/img/carousel4.jpg" )}}" alt="">
                </div>
            </div>
        </div>
        <!-- END CAROUSEL -->
        <!-- CONNECTION -->
        <div class="col s12 m12 l6">
            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputUsername">Indentifiant</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                    required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button href="{{ path('app_index') }}" class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
        <!-- END CONNECTION -->
    </div>

    <!-- h2 -->
    <div id="inscription" class="card center #004d40 teal darken-2">
        <h3 class="grey-text text-lighten-2">Rejoins des évènements jeux <br>
            <br>
            et rencontre de nouveaux joueurs !
        </h3>
        <a href="{{ path('user_new') }}" id="inscription-button"
            class="center btn btn-lg #004d40 teal lighten-5 grey-text text-darken-3" type="submit">
            INSCRIPTION
        </a>
    </div>

    <!-- BANNER -->
    <div id="resumeHome" class="row">
        <div class="card-panel card-resumeHome teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">event</i><br>
            <span class="teal-text flow-text card-title">
                Organise tes soirées jeux !
            </span>
        </div>
        <div class="card-panel card-resumeHome  teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">extension</i><br>
            <span class="teal-text flow-text card-title">
                Sélectionne tes jeux préférés !
            </span>
        </div>
        <div class="card-panel card-resumeHome teal lighten-5 z-depth-2 col s12 m12 l4 center">
            <i class="large material-icons teal-text">mood</i><br>
            <span class="teal-text flow-text card-title">
                Fais-toi plein de nouveaux amis !
            </span>
        </div>
    </div>
    <!-- END BANNER -->
</div>
{{ include('front/footer.html.twig') }}

{% endblock %}
{% block stylesheets %}
<style>
    #inscription {
        box-shadow: 0 0 2em grey;
    }

    .carousel-item img {
        height: 100%;
        object-position: -20%;
    }

    #formConnexion button {
        margin: 20px;
    }

    #formConnexion {
        padding-right: 30px;
    }

    #inscription {
        padding: 20px 0;
        text-shadow: 0 0 0.5em rgb(48, 48, 48);
        margin: 100px 0;
    }

    #inscription-button {
        box-shadow: 0 0 0.5em rgb(48, 48, 48);
        padding: 0 50px;
        margin: 20px 0;
        text-shadow: none;
    }

    #inscription-button:hover {
        font-size: 1.1em;
    }

    .card-resumeHome {
        box-shadow: 0 0 0.5em rgb(109, 108, 108);
        border: 5px solid #009688;
        border-radius: 5px;
        margin-top : -20px;
    }

    .card-resumeHome i {
        padding: 50px;
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .card-title{
        font-weight: bold;
    }
    @keyframes pulse {
        0% {
            transform: scale(0.95);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @media screen and(max-width: 640px) {
        #resumeHome {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-resumeHome {
            width: 100%;
        }
    }

    @media screen and(max-width: 1240px) {
        #resumeHome {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-resumeHome {
            width: 100%;
        }
    }
</style>
{% endblock %}