<div class="container-fluid row grey lighten-4">
    <div class="col s2 menu">
        <ul>
            <li class="menu-link"><a class="black-text" href="{{ path('admin_index') }}"><i
                        class="material-icons left">airplay</i>Dashboard</a></li>
            <li class="menu-link"><a class="black-text" href="{{ path('user_index') }}"><i
                        class="material-icons left">group</i>Utilisateurs</a></li>
            <li class="menu-link"><a class="black-text" href="{{ path('event_index') }}"><i
                        class="material-icons left">event_note</i>Évènements</a></li>
            <li class="menu-link"><a class="black-text" href="{{ path('boardgame_index') }}"><i
                        class="material-icons left">casino</i>Jeux de société</a></li>
            <li class="menu-link"><a class="black-text" href="{{ path('admin_bar_index') }}"><i
                        class="material-icons left">local_bar</i>Bars</a></li>
            <li class="menu-link"><a class="black-text" href="{{ path('app_logout') }}"><i
                        class="material-icons left">exit_to_app</i>Déconnexion</a></li>
        </ul>
    </div>


    {% block stylesheets %}
    <style>
        .menu {
            height: 100vh;
        }

        .menu-link {
            margin-bottom: 15px;
        }
    </style>
    {% endblock %}