{% block stylesheets %}
<style>
#logo{
    width: 8%;
    height: 8%;
    margin-left : 20%;
}
#title{
    margin: auto;
    font-size: 3.4em;
    font-family: "Good Morning";
}
</style>
{% endblock %}
<div class="container-fluid red darken-3">   
    <!-- LOGO + TITRE DU SITE -->
    <div class="valign-wrapper row hide-on-med-and-down" >
        <img id="logo" class="col s3" src="{{ asset("/img/logoTest.png" )}}"> 
        <a id="title" href="{{ path('app_index') }}" class="col s6 hide-on-med-and-down amber-text text-lighten-3">Join My Board</a>
    </div>
    <!-- LOGO + TITRE END -->
    <!-- NAVBAR -->
    <div id="navbar">
        <nav>
            <div class="nav-wrapper red darken-3">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down">
                    <!-- Si je suis connecté -->
                    {% if app.user != null %}
                    <li><a href="{{ path('app_index') }}"><i class="material-icons left">home</i>Page d'accueil</a></li>
                    <li><a href="{{ path('user_show', {'id': app.user.id}) }}"><i class="material-icons left">account_circle</i>Mon profil</a></li>
                    <li><a href="{{ path('event_new') }}"><i class="material-icons left">create</i>Créer un évènement</a></li>
                    <li><a href="#"><i class="material-icons left">group</i>Ma liste d'amis</a></li>
                    <li><a href="#"><i class="material-icons left">casino</i>Ma ludothèque</a></li>
                    <li><a href="#"><i class="material-icons left">date_range</i>Mes soirées</a></li>
                    <!-- Si je suis connecté en tant qu'admin -->
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('user_index') }}"><i class="material-icons left">dvr</i>Espace admin</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <!-- Si je suis connecté -->
            {% if app.user != null %}
            <li><a href="{{ path('app_index') }}"><i class="material-icons left">home</i>Page d'accueil</a></li>
            <li><a href="{{ path('user_show', {'id': app.user.id}) }}"><i class="material-icons left">account_circle</i>Mon profil</a></li>
            <li><a href="{{ path('event_new') }}"><i class="material-icons left">create</i>Créer un évènement</a></li>
            <li><a href="#"><i class="material-icons left">group</i>Ma liste d'amis</a></li>
            <li><a href="#"><i class="material-icons left">casino</i>Ma ludothèque</a></li>
            <li><a href="#"><i class="material-icons left">truc</i>Mes soirées</a></li>
            <!-- Si je suis connecté en tant qu'admin -->
            {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('user_index') }}"><i class="material-icons left">dvr</i>Espace admin</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- NAVBAR END -->
</div>
