{{ form_start(form) }}
<div class="row">

    <div class="col s12 m6">
        <!-- IDENTIFIANT -->
        {{ form_label(form.username, "Identifiant") }}
        {{ form_row(form.username) }}
        <!-- MOT DE PASSE -->
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
    </div>

    <div class="col s12 m6">
        <!-- ADRESSE EMAIL -->
        <div>
            {{ form_label(form.email, "Adresse email") }}
            {{ form_row(form.email) }}
        </div>
        <!-- GENRE -->
        <div>
            {{ form_label(form.sex, "Genre") }}
            {{ form_widget(form.sex, { 'attr': {'class': 'browser-default'} }) }}
        </div>
        <!-- DATE DE NAISSANCE -->
        <div>
            {{ form_label(form.dateOfBirth, "Date de naissance") }}
            {{ form_row(form.dateOfBirth) }}
        </div>
    </div>
</div>

<!-- ROLE -->
{% if is_granted("ROLE_ADMIN") %}
<div>
    {{ form_label(form.roles, "Rôle") }}
    {{ form_row(form.roles) }}
</div>
{% endif %}





<!-- PHOTO DE PROFIL -->
<div>
    {{ form_label(form.avatarFile, "Photo de profil") }}
    {{ form_row(form.avatarFile) }}
</div>

<!-- DESCRIPTION -->
<div>
    {{ form_row(form.description) }}
</div>
<button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}