{% extends 'layout.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}



{% block main %}

<div class="container z-depth-4 profile white">
    <div class="header-profile container-fluid teal lighten-2 center">
        <div class="container row center">
            <span class="title">{{ user.username }}</span>
            {% if user.sex == "F" %}
            <img class="gender-icon" src="{{ asset('/img/icons/gender_female_icon.png')}}" alt="">
            {% endif %}
            {% if user.sex == "M" %}
            <img class="gender-icon" src="{{ asset('/img/icons/gender_male_icon.png')}}" alt="">
            {% endif %}
            {% if user.sex == "NB" %}
            <img class="gender-icon" src="{{ asset('/img/icons/gender_non_binary_icon.png')}}" alt="">
            {% endif %}
        </div>
        <div class="row valign-wrapper">
            <div class="col s4 text container-fluid">
                <div class="col s12">
                    <div class="center">
                        <span class="number teal darken-2">{{ user.organizedEvents|length }}</span>
                    </div>
                </div>
                <div> évènement(s) organisé(s)</div>
            </div>
            <div class="col s4  center-align">
                <img class="photo-show-profile" src="{{ asset('/img/avatars/'~ user.avatar )}}"
                    alt="photo de {{ user.username }}">
            </div>
            <div class="col s4 text container-fluid">
                <div class="col s12">
                    <div class="center">
                        <span class="number  teal darken-2"></span>
                    </div>
                </div>
                <div class="">avis</div>
            </div>
        </div>
    </div>
        
    <div class="text description">
        <h2 class="teal darken-2 center">Description : </h2>
        <p>{{ user.description }}</p>
    </div>

    {% if app.user.id == user.id %}
    <div class="container-fluid row  valign-wrapper">
        <div class="col s6">
            <a class="btn lime darken-1" href="{{ path('user_edit', {'id': user.id}) }}">MODIFIER</a>
        </div>
        <div class="col s6">
            {{ include('user/_delete_form.html.twig') }}
        </div>

    </div>
    {% endif %}
</div>

{% endblock %}

{% block stylesheets %}
<style>
    .title{
        font-size: 2em;
    }
    h2 {
        font-size: 1.2em;
        padding: 10px 20px;
        margin: 0 15%;
        border-radius: 10px;
        color: whitesmoke;
    }

    .profile {
        border-radius: 5px;
        padding-bottom: 2%;
        margin: 3% auto;
    }

    .header-profile {
        padding: 1% 0;
        color: whitesmoke;
        font-weight: bold;
    }

    .gender-icon{
        max-width: 50px;
        max-height: 50px;
        margin-bottom: -10px;
    }

    .number {
        padding: 5px 15px;
        border-radius: 50%;
    }

    .photo-show-profile img {
        width: inherit;
        height: inherit;
    }

    .photo-show-profile {
        display: inline-block;
        border: 2px solid whitesmoke;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .text {
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    .description, .info-admin {
        border-radius: 5px;
        padding-left: 2%;
        margin: 2% auto;
    }
</style>
{% endblock %}