{% extends 'layout.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}



{% block main %}

<div class="container z-depth-4 profile">
    <div class="header-profile container-fluid teal lighten-2 center">
        <h1>{{ user.username }}</h1>
        <div class="row valign-wrapper">
            <div class="col s4 text container-fluid">
                <div class="col s12">
                    <div class="center">
                        <span class="number  teal darken-2">12</span>
                    </div>
                </div>
                <div> évènements organisés</div>
            </div>
            <div class="col s4  center-align">
                <img class="photo-show-profile" src="{{ asset('/img/avatars/'~ user.avatar )}}"
                    alt="photo de {{ user.username }}">
            </div>
            <div class="col s4 text">avis</div>
        </div>
    </div>


    {% if is_granted ("ROLE_ADMIN") %}
    <div class="info-admin text">
        <h2>Info admin :</h2>
        <div> id : {{ user.id }}</div>
        <div> rôle : {{ user.roles ? user.roles|json_encode : '' }}</div>
        <div class="text"> Date de naissance : {{ user.dateOfBirth }}</div>
    </div>
    {% endif %}
    <div class="text description">
        <h2>Description : </h2>
        <p>{{ user.description }}</p>
    </div>

    {% if app.user.id == user.id %}
    <div class="container-fluid row">
        <div class="col s6">
            <a class="btn lime darken-1" href="{{ path('user_edit', {'id': user.id}) }}">MODIFIER</a>
        </div>
        <div class="col s6">
            {{ include('user/_delete_form.html.twig') }}
        </div>

    </div>
    {% endif %}
</div>

{% endblock %}

{% block stylesheets %}
<style>
    .profile {
        border-radius: 5px;
        padding-bottom: 2%;
        margin: 3% auto;
    }

    .header-profile {
        padding: 1% 0;
        color: whitesmoke;
        font-weight: bold;
    }

    .number {
        padding: 5px;
        border-radius: 50%;
    }

    .photo-show-profile img {
        width: inherit;
        height: inherit;
    }

    .photo-show-profile {
        display: inline-block;
        border: 2px solid whitesmoke;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .text {
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    .description,
    .info-admin {
        border-radius: 5px;
        padding-left: 2%;
        margin: 2% auto;
    }
</style>
{% endblock %}