{% extends 'layout.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}



{% block main %}

<div class="profile-card card">
    <div class="container">
        <h1>Profil de {{ user.username }}</h1>
        <div class="photo-show-profile">
            <img src="{{ asset('/img/avatars/'~ user.avatar )}}" alt="photo de {{ user.username }}">
        </div>
        {% if is_granted ("ROLE_ADMIN")%}
        <div> id : {{ user.id }}</div>
        <div> rôle : {{ user.roles ? user.roles|json_encode : '' }}</div>
        {% endif %}
        <div> Date de naissance : {{ user.dateOfBirth }}</div>
        <div> Description : {{ user.description }}</div>

        <a href="{{ path('user_index') }}">back to list</a>
        {% if app.user.id == user.id %}
        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
        {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
<style>
    .photo-show-profile img {
        width: inherit;
        height: inherit;
    }

    .photo-show-profile {
        display: inline-block;
        border: 2px solid rgb(8, 136, 130);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
</style>
{% endblock %}